html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/background2.jpg');
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-weight: 300;
    color: #ffc;
}

h1:hover {
    text-shadow: 2px 1px 1px grey;
}

/**
 * Styles for the deck of cards
 */
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, transparent, #a0a0a0a0 100%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #ffffde url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.deck .card.open {
    transform: rotateY(0);
    cursor: default;
    background: #603 url("https://www.transparenttextures.com/patterns/grunge-wall.png");
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.deck .card:click {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.deck .card:hover {
    opacity: 0.9;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #036 url("https://www.transparenttextures.com/patterns/grunge-wall.png");
    font-size: 33px;
}

/**
 * Styles for the Score Panel
 */
.score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    color: #ffc;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: gold;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    text-shadow: 2px 1px 1px grey;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    font-size: 18px;
    padding-right: 1em;
}

.restart:hover {
    text-shadow: 2px 1px 1px grey;
}

/**
 * Styles for Modal
 */
.hidden {
    display: none;
}

.myRecord {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

/**
* The Modal (background)
*/
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/**
* Modal Content
*/
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #331900;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 25px;
}

/**
* Add Animation
*/
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/**
* The Close Button
*/
.modal-close {
    color: #ffc;
    float: right;
    font-size: 34px;
    font-weight: bold;
    padding-top: 0.4em;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background: #404040 url("https://www.transparenttextures.com/patterns/grunge-wall.png");
    color: #ffc;
    text-align: center;
    font-family: 'Audiowide', cursive;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-body {
    padding: 2px 16px;
    background: #404040 url("https://www.transparenttextures.com/patterns/grunge-wall.png");
    color: #ffc;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
}

.modal-message {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.leaderboard p {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.leaderboard li {
    list-style-type: none;
}

.leaderboard ul {
    padding: 0;
}

.leaderboard i {
    width: 20px;
    display: inline-block;
    margin-right: 15px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.modal-question {
    text-align: center;
    font-size: 25px;
    font-family: 'Audiowide', cursive;
}

.modal-footer {
    padding: 1px 16px;
    padding-bottom: 1em;
    background: #404040 url("https://www.transparenttextures.com/patterns/grunge-wall.png");
    color: white;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.modal-yes,
button.modal-no {
    font-size: 20px;
    color: #ffc;
    width: 70px;
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Audiowide', cursive;
}

button.modal-yes {
    background: rgb(0, 255, 0, 0.4) url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

button.modal-no {
     background: rgb(255, 0, 0, 0.4) url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

button:hover {
    opacity: 0.7;
}

/**
 * Responsive Breakpoints
 *
 * Mobile Responsive
 */
 @media screen and (max-width: 399px) {
    h1 {
        font-size: 25px;
    }

    .deck {
        width: 280px;
        min-height: 290px;
        padding: 18px;
    }

    .deck .card {
        height: 53px;
        width: 53px;
    }

    .deck .card.show {
        font-size: 25px;
    }

    .deck .card.match {
        font-size: 25px;
    }

    .score-panel .restart {
        font-size: 18px;
        padding-right: 2em;
        padding-top: 0.2em;
    }

    .score-panel .stars {
        text-align: left;
        font-size: 18px;
        padding-left: 2em;
        padding-top: 0.1em;
        width: 110px;
    }

    span.timer {
        width: 70px;
        margin-top: 0.3em;
    }

    span.moves-text {
        width: 50px;
        margin-top: 0.3em;
    }

    span.moves {
        width: 20px;
        margin-top: 0.3em;
    }

    .modal-content {
        width: 270px;
    }

    .modal-header {
        font-size: 12px;
    }

    span.modal-close {
        padding-top: 0.1em;
    }
}

@media screen and (min-width: 400px) and (max-width: 549px) {
    .deck {
        width: 390px;
        min-height: 400px;
        padding: 24px;
    }

    .deck .card {
        height: 75px;
        width: 75px;
    }

    .deck .card.show {
        font-size: 33px;
    }
    
    .deck .card.match {
        font-size: 33px;
    }

    .score-panel .restart {
        font-size: 20px;
        padding-right: 0;
    }

    .score-panel .stars {
        text-align: left;
        font-size: 20px;
        padding-left: 0;
        width: 90px;
    }

    span.timer {
        width: 100px;
        margin-top: 0.2em;
    }

    span.moves-text {
        width: 60px;
        margin-top: 0.2em;
    }

    span.moves {
        width: 20px;
        margin-top: 0.2em;
    }

    .modal-content {
        width: 280px;
    }

    .modal-header {
        font-size: 12px;
    }
    
    span.modal-close {
        padding-top: 0.1em;
    }
}

/**
 * Tablet Responsive
 */
@media screen and (min-width: 550px) and (max-width: 750px) {
    h1 {
        font-size: 40px;
    }

    .deck {
        width: 520px;
        min-height: 530px;
        padding: 28px;
    }

    .deck .card {
        height: 100px;
        width: 100px;
    }

    .deck .card.show {
        font-size: 40px;
    }
    
    .deck .card.match {
        font-size: 40px;
    }

    .score-panel .restart {
        text-align: right;
        font-size: 22px;
        padding-right: 0;
        width: 20px;
    }

    .score-panel .stars {
        text-align: left;
        font-size: 22px;
        padding-left: 0;
        width: 90px;
    }

    span.timer {
        width: 80px;
        margin-top: 0.1em;
        font-size: 20px;
    }

    span.moves-text {
        width: 60px;
        margin-top: 0.1em;
        font-size: 20px;
    }

    span.moves {
        width: 20px;
        margin-top: 0.1em;
        font-size: 20px;     
    }

    .modal-content {
        width: 300px;
    }

    .modal-header {
        font-size: 14px;
    }
    
    span.modal-close {
        padding-top: 0.25em;
    }
}

/**
 * Desktop Responsive
 */
@media screen and (min-width: 751px) {
    h1 {
        font-size: 50px;
    }

    .deck .card.show {
        font-size: 50px;
    }
    
    .deck .card.match {
        font-size: 50px;
    }

    .score-pannel {
        width: 700px;
    }

    .score-panel .restart {
        text-align: right;
        font-size: 21px;
        padding-right: 0;
        width: 40px;
    }

    .stars {
        text-align: left;
        font-size: 21px;
        padding-left: 0;
        width: 80px;
    }

    span.timer {
        width: 100px;
        margin-top: 0.1em;
        font-size: 20px;
    }

    span.moves-text {
        width: 80px;
        margin-top: 0.1em;
        font-size: 20px;
    }

    span.moves {
        width: 30px;
        margin-top: 0.1em;
        font-size: 20px;     
    }
    .modal-content {
        width: 380px;
    }

    .modal-header {
        font-size: 20px;
    }
    
    span.modal-close {
        padding-top: 0.5em;
        font-size: 40px;
    }
}